@import url(https://fonts.googleapis.com/css?family=Abel);
body {
    background-image:url("../images/vintage.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: sienna;
}
#image{
    float:left;
    height: 730px;
    width: 357px;
    margin-left: 12%;
    background-image: url("../images/vend.png");
    background-size: cover;
}
#image1{
    float:left;
    height: 730px;
    width: 357px;
    background-image: url("../images/coke.png");
    background-size: cover;
      margin-left: 12%;

}
#image2 {
    float:left;
    height: 730px;
    width: 357px;
    background-image: url("../images/drpepper.png");
    background-size: cover;
    margin-left: 12%;

}
#image3 {
    float:left;
    height: 730px;
    width: 357px;
    background-image: url("../images/rc.png");
    background-size: cover;
    margin-left: 12%;

}

#text, #text1, #text2, #text3 {
border-style: solid;
border-width: 5px;
text-align: center;
width:300px;
height: 400px;
margin-top: 10%;
margin-right: 200px;
font-family: 'Abel', sans-serif;
color: greenyellow;
float: right;
background-color: green;
font-size: 30px;
}
